<button type="button" class="btn btn-secondary btn-lg" routerLink="/principal" routerLinkActive='active'>Regresar</button>
<button type="button" class="btn btn-secondary btn-lg" routerLinkActive='active'
data-bs-toggle="modal" data-bs-target="#crear">Crear Torneo</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">nombre</th>
      <th scope="col">creador</th>
      <th scope="col">Cantidad de equipos</th>
      <th scope="col">Jornadas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tournament of torneo">
      <th scope="row">{{ tournament._id }}</th>
      <td>{{ tournament.nombre }}</td>
      <td>{{ tournament.creador }}</td>
      <td>{{ tournament.cantequipos }}</td>
      <td>{{ tournament.jornadas }}</td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger" (click)="gettorneo(tournament._id)"
          data-bs-toggle="modal" data-bs-target="#delete">Eliminar</button>
          <button type="button" class="btn btn-warning" (click)="gettorneo(tournament._id)"
          data-bs-toggle="modal" data-bs-target="#edit">Editar</button>
          <button type="button" class="btn btn-success"
          data-bs-toggle="modal" data-bs-target="#User" (click)="gettorneo(tournament._id)" routerLink="/teams">Ver Equipos</button>
        </div>
    </tr>
  </tbody>
</table>

<!-- Editar -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Torneo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="inputUser" class="form-label">Nombre</label>
          <input type="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre" #nombre="ngModel" [(ngModel)]="tournament.nombre">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="edittorneo()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Eliminar -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar torneo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de eliminar el torneo, {{ tournament.nombre }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="deletetorneo(tournament._id)">Sí, eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Crear -->
<div class="modal fade" id="crear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Torneo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="inputUser" class="form-label">Nombre</label>
          <input type="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre" #nombre="ngModel" [(ngModel)]="tournament.nombre">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="newtorneo()">Crear nuevo Torneo</button>
      </div>
    </div>
  </div>
</div>
